<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "application.css" %>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table class="center_table">
<thead>
  <th><%= link_to "Title", movies_path(field: "title") %></th>
  <th><%= link_to "Rating", movies_path(field: "rating") %></th>
  <th><%= link_to "Release Date", movies_path(field: "release_date") %></th>
  <th></th>
</thead>
<tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= movie.title %>
      </td>
      <td>
        <%= movie.rating %>
      </td>
      <td>
        <%= movie.release_date %>
      </td>
	  <td>
        <%= link_to "Show this movie", movie %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<br>

<%= link_to "New movie", new_movie_path %>
